.subContents {
  height: 42rem;

  .subContent {
    & > .image {
      pointer-events: none;
      filter: sepia(100%) saturate(250%) hue-rotate(170deg) grayscale(100%);
    }

    & > .caption {
      opacity: 0;
    }

    & > .title {
      opacity: 0;
    }

    &:hover {
      & > .image {
        transform: scale(1.05);
        filter: sepia(100%) saturate(250%) hue-rotate(170deg) grayscale(0%);
      }

      & > .caption {
        opacity: 0.85;
      }

      & > .title {
        opacity: 1;
      }
    }
  }
}
